$city-white: #fafaf4;
$city-light-grey: #f3f3e5;
$city-grey: #8c8c8c;
$city-black: #111111;
$city-orange: #fa7416;
$city-purple: #8c52ff;
$city-blue: #0086be;
$city-gold: #fbcc09;
$city-red: #c10016;

$city-green: #91d6c6;
$city-green-light: #e5ede6;
$city-green-dark: #3fa08a;

$outlier-white: #ffffff;
$outlier-offwhite: #fffdf7;
$outlier-black: #000000;

$outlier-yellow-light: #fff4e4;
$outlier-yellow: #ffd504;
$outlier-red: #b73225;
// TODO: dark is default
// TODO: ligh

// TODO:
// $outlier-X

// TODO: light yellow fff4e4
// TODO: dark yellow: ffd504
// TODO: red #b73225
// TODO: offwhite #fffdf7
