$font-base-url: "https://projects-assets.outliermedia.org/fonts/";
@font-face {
  font-family: "Anton";
  src: url($font-base-url + "outlier-media-anton-2-116.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100 bold;
  src: url($font-base-url + "InterVariable.a0e477f2.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 100 bold;
  src: url($font-base-url + "InterVariable-Italic.e295f70f.woff2") format("woff2")
}

$sans: "Inter", Helvetica, sans-serif;
$body: $sans;
$title: "Anton", Helvetica, sans-serif;
$serif: "Georgia", serif;
$mono: "Courier", monospace;

@mixin boldface() {
  font-family: $sans;
  font-weight: bold;
}

@mixin boldface-ital() {
  font-family: $sans;
  font-weight: bold;
  font-style: italic;
}

@mixin medface() {
  font-family: $sans;
  font-weight: 700;
}

@mixin medface-ital() {
  font-family: $sans;
  font-weight: 700;
  font-style: italic;
}

@mixin bookface() {
  font-family: $sans;
  font-weight: 400;
}

@mixin ital() {
  font-family: $sans;
  font-weight: 400;
  font-style: italic;
}

@mixin lightface() {
  font-family: $sans;
  font-weight: 200;
}

@mixin lightface-ital() {
  font-family: $sans;
  font-weight: 200;
  font-style: italic;
}
